*,
*:before *:after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
}
img {
  display: block;
  max-width: 100%;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.list {
  display: flex;
  /* flex-direction: row-reverse; */
  align-items: flex-start;
  align-items: flex-end;
  align-items: center;
  margin-top: 3rem;
  justify-content: flex-start;
  justify-content: flex-end;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly;
}
.list-item {
  padding: 1rem;
  background-color: greenyellow;
  margin: 0 5px;
}
.list-item:last-child {
  align-self: flex-end;
}
